<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @admin.email %></h1>
    <p>
      You have password : 'abcd1234'
      <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
    </p>
    <p>
      
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>